# Dependencies
node_modules/
package-lock.json
yarn.lock
example-plugins/
canuse-templates/
dev/
*.json


# TypeScript
dist/
*.js.map
*.d.ts.map

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# Build
build/
out/
